*{
padding:0;
margin:0;
}
body{
background-color:rgb(210,210,210);
}
#container{
width:84%;
margin:4%;
padding:4%;
background-color:white;
border-radius:5px;
box-shadow: 5px 10px 10px rgb(170,170,170);
text-align:center;
}
#logo{
font-size:20px;
}

#gp_container::value{
}
#gp_container{
height:30px;
width:88%;
margin:3%;
text-align:right;
color: grey;
font-size:200%;
padding:3%;
border-radius:4px;
border-style:none;
background-color:rgb(230,230,230);
}
#course_code{
position:absolute;
left:8%;
height:18px;
width:18%;
padding:2%;
border-radius:4px;
outline:none;
margin:5px;
}
#course_code:focus{
border:2px solid orange;
}
#course_code::placeholder{
color:black;
font-weight:700;
}
.title1{
position:absolute;
left:15%;
font-weight:600;
font-size:100%;
}
.title2{
position:absolute;
left:47%;
font-weight:600;
font-size:100%;
}
.title3{
position:absolute;
left:73%;
font-weight:600;
font-size:100%;
}
.title4{
position:absolute;
left:13%;
font-weight:600;
font-size:100%;
color:black;
}
.title5{
position:absolute;
left:44%;
font-weight:600;
font-size:100%;
color:black;
}
.title6{
position:absolute;
left:74%;
font-weight:600;
font-size:100%;
color:black;
}
#unit{
position:absolute;
left:36.5%;
margin:5px;
height:38px;
width:24%;
padding:2%;
border-radius:4px;
border:2px solid black;
outline:none;
}
#unit:focus{
border:2px solid orange;
}
#grade{
position:absolute;
right:8%;
margin:5px;
height:38px;
width:24%;
padding:2%;
border:2px solid black;
border-radius:4px;
outline:none;
}
#grade:focus{
border:2px solid orange;
}
#add_btn{
height:32px;
padding:5px;
border-radius:4px;
box-shadow:3px 3px 6px rgb(170,170,170);
background-color:orange;
color:white;
border-style:none;
outline:none;
float:left;
font-weight:bold;
border-style:none;
font-size:110%;
}
#del_btn{
position:absolute;
right:6%;
height:38px;
padding:2%;
border:2px solid black;
border-radius:4px;
background-color:white;
color:red;
font-weight:700;
font-size:120%;
outline:none;
margin:5px;
}
#confirm_btn{
position:absolute;
left:73%;
height:38px;
padding:2%;
border:2px solid black;
border-radius:4px;
outline:none;
color:green;
margin:5px;
margin-right:5px;
background-color:white;
}
#checked_btn{
position:absolute;
left:73%;
height:38px;
padding:2%;
border:2px solid green;
border-radius:4px;
outline:none;
color:white;
margin:5px;
margin-right:5px;
background-color:green;
}
#added_courses_header{
font-size:90%;
color:black;
}
#new_course{
padding:5%;
border-radius:5px;
background-color:rgb(210,210,210);
}
#new_course_code{
float:left;
}
#new_unit{
margin-left:20%;
}
#new_grade{
margin-left:40%;
}
#p{
float:right;
margin-right:0;
color:red;
font-size:120%;
font-weight:700;
}
#total_points{
display:none;
}
#total_units{
display:none;
}
